<html>
    <head>
        <title>Zip</title>
        <link href="/styles.css" rel="stylesheet">
    </head>
    <body>
        <h1>
           Select a country and enter a zip code
        </h1>
        <form action="/findZip">
            <input list="countries">
            <select id="countries">
                <option value="United States">
                <option value="Canada">
                <option value="Mexico">
                <option value="Japan">
                <option value="China">
                <option value="Spain">
                <option value="France">
                <option value="Great Britian">
                <option value="Australia">
                <option value="Russia">
            </select>
            <input type="number" id="zip" name="zip">
            <input type="submit">
        </form>
    
    </body>
</html>